img {
    max-width: 100%;
    height: auto;
}

.main {
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 720px;
}

section {
    margin-bottom: 2rem;
}

.checkbox {
    margin-top: 0;
}

.panel {
    padding: 2rem;
    border: 1px solid #ddd;
}

.checkout-form h2, .sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

section > :first-child {
    margin-top: 0;
}

label {
    text-align: right;
}

.form-group-pay-year {
    padding-left: 0;
}

.form-group:last-child {
    margin-bottom: 0;
}

.checkbox-pay-address {
    margin-bottom: 0;
}

.billing {
    display: none;
}
.billing.billing-show {
    display: block;
}

.order.affix {
    top: 20px;
    width: 210px;
}

.order .panel {
    padding: 1rem;
}

.item {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.item:last-child {
    padding-bottom: 0;
    border-width: 0;
    margin-bottom: 0;
}

.item-img {
    display: block;
    margin-bottom: 10px;
}

.item-name, .item-price {
    margin: 0;
}

.item-name {
    font-weight: bold;
}

.item-price {
    font-size: 12px;
}

.loading {
    display: none;
}
.loading.loading-show {
    display: inline;
}
